<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlib"> 
        <label for="askName">What's your name?</label>
        <input type="text" id="askName" value="" name="person"/>
        
        <label for="color">Name a color:</label>
        <input type="text" id="color" value="" name="color"/>
        
        <label for="noun">Name a noun:</label>
        <input type="text" id="noun" value="" name="noun"/>
        
        <label for="adjective">Name an adjective:</label>
        <input type="text" id="adjective" value="" name="adjective"/>
        
        <button type="submit">Create Madlib</button>
    </form>
</body>
</html>